body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(23, 23, 23);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

a:link{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #000000;
}

a:visited{
    text-decoration: none;
    color: #ffffff;
}

a:active{
    text-decoration: none;
    color: #ffffff;
}

.scrollup{
    width: 100px;
	height: 100px;
	text-decoration: none;
	background: url("img/up.png") no-repeat 0px 0px;
	position: fixed;
    background-size: 100px 100px;
	right: 50px;
	bottom: 50px;
	display: none;
}

h1.logo{
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header{
    background-color: #0a0043;
    margin: 0;
    padding: 0;
}

body > nav{
    background-color: #240053;
    text-align: center;
    position: sticky;
    top: 0px;
}

.main-menu{
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 25px;
    min-height: 40px;
    line-height: 200%;
}

.main-menu > a > li{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content{
    text-align: center;
    margin: 50px auto auto auto;
    width: 60%;
    min-height: 1000px;
    float: left;
}

main nav{
    margin: 50px auto auto auto;
    width: 200px;
    float: left;
    text-align: center;
    padding: 10px;
}

