body{
    background-image: url(img/wielki_tutel.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

#text{
    position: fixed;
    top: 50%;
    right: 50%;
}